<h1 class="advanced_search_main_heading">Advanced Search Options </h1>

<div class="main_search_area advanced_search_area">
  <h2 class="advanced_search_heading">Search for a book</h2>  
    <form action="/books/advancedSearch" method="get" class="search_form">
      <input type="text" name="title" id="search" value="<%= searchOptions.title || '' %>" placeholder="Title">
      <p class="advanced_search_text">and/or</p>
      <input type="text" name="author" id="search" value="<%= searchOptions.author || '' %>" placeholder="Author">
      <p class="advanced_search_text">and/or</p>
      <input type="text" name="category" id="search" value="<%= searchOptions.category || '' %>" placeholder="Category">
      <!-- <input type="text" name="averageRating" id="search" value="" placeholder="Rating" required> -->
      <button type="search" value="go" id="go">Search</button>
    </form>
</div>


<% if (books.length > 0) { %> <!-- Only display if there are books -->
  <div>
    <% books.forEach(book => { %>
      <img height="100" width="150" src="<%= book.coverImagePath %>" alt="Cover Image">
      <div>
        <%= book.title %> 
        <%= book.author %>
        <%= book.category %>
        <%= book.description %>
      </div>
    <% }) %>
  </div>
<% } else if (Object.keys(searchOptions).length > 0) { %> <!-- No books found, but search was performed -->
  <p>No books found for the given search criteria.</p>
<% } %>