<h1 class="main_heading">Advanced Search Options </h1>

<section class="search_container">
  <div class="advanced_search_area">
      <h2 class="advanced_search_heading">Search for a book</h2>  
      <form action="/books/advancedSearch" method="get" class="advanced_search_form">
        <input type="text" name="title" id="search" value="<%= searchOptions.title || '' %>" placeholder="Title">
        <p class="advanced_search_text">and/or</p>
        <input type="text" name="author" id="search" value="<%= searchOptions.author || '' %>" placeholder="Author">
        <p class="advanced_search_text">and/or</p>
        <input type="text" name="category" id="search" value="<%= searchOptions.category || '' %>" placeholder="Category">
        <!-- <input type="text" name="averageRating" id="search" value="" placeholder="Rating" required> -->
        <button type="search" value="go" id="go">Search</button>
        <a href="javascript:void(0);" id="back_button" class="back_button"><< Back</a>
      </form>
  </div>
</section>

<% if (books.length > 0) { %> <!-- Only display if there are books -->
<section class="book_card_container">
  <% books.forEach(book => { %>
  <div class="book_card_area">

    <!-- Front of the card -->
    <div class="book_card_front">
      <img src="<%= book.coverImagePath %>" alt="<%= book.title %> cover">
      <h3 class="book_card_title"><%= book.title %></h3>
      <p class="book_card_author"><%= book.author %></p>
      <p class ="book_card_category"><%= book.category %></p>
    </div>

    <!-- Back of the card -->
    <div class="book_card_back">
      <p><%= book.description %></p>
      <p>Average Rating: <%= book.averageRating %> / 5</p>
      <button class="review_button"><a href="/reviews">Leave a review</a></button>
    </div>
  </div>
  <% }) %>
</section>
<% } else if (Object.keys(searchOptions).length > 0) { %> <!-- No books found, but search was performed -->
  <p>No books found for the given search criteria.</p>
<% } %>