<h1 class="main_heading">Edit Book</h1>
     
<section class="new_book_container">
    <div class="new_book_area">
        <form action="/books/<%= book._id %>?_method=PUT" method="POST" class="new_book_form">
            <div class="new_book_info">
                <input type="text" name="title" value="<%= book.title %>" placeholder="Title" required>
                <input type="text" name="author" value="<%= book.author %>" placeholder="Author" required>
                <input type="text" name="category" value="<%= book.category %>" placeholder="Category" required>
                <textarea name="description" placeholder="Breif description of the book" required><%= book.description %></textarea>
            </div>
            
            <div class="edit_book_cover">
                <% if (book.coverImage) { %>
                    <img src="<%= book.coverImage %>" alt="<%= book.title %> Cover Image">
                <% } else { %>
                    <p>No cover image available</p>
                    <input type="file" name="cover" class="filepond" required>
                <% } %>
            </div>
            <div class="form_actions">
                <button type="search" id="create">Update</button>
                <a href="/books">Cancel</a>
            </div>
        </form>
    </div>
</section>