<h1>All Books</h1>

<a href="/books/new">Add a new Book</a>

<h2>Search for a book</h2>  
<div class="search_area">
    <form action="/books" method="get" class="search_form">
      <input type="text" name="title" id="search" value="<%= searchOptions.title %>" placeholder="Search for a book by title" required>
      <button type="search" value="go" id="go">Search</button>
    </form>
</div>
<a href="/books/advancedSearch" class="">Advanced Search Options</a>
<br>

<div>
  <% books.forEach(book => { %>
    <img height="100" width="150" src="<%= book.coverImagePath %>" alt="<%= book.title %>">
    <div>
      <%= book.title %> 
      <%= book.author %>
      <%= book.category %>
      <%= book.description %>
    </div>
  <% }) %>
  </div>