<h1 class="main_heading">All Books</h1>

<a href="/books/new">Add a new Book</a>

<section class="search_container">
  <div class="search_area">
    <h2 class="main_search_heading">Search for a book</h2>  
    <form  action="/" method="get"  class="search_form">
      <div class="input_button_wrapper">
        <input type="text" name="title" id="search" value="<%= searchOptions.title %>" placeholder="Search for a book by title" required>
        <button type="search" value="go" id="go">Search</button>
      </div>
      <div class="search_extras">
        <a href="/books/advancedSearch" class="advanced_options">Advanced Search Options</a>
      </div>
    </form>
  </div>
</section>  

<br>

<section class="book_card_container">
  <% books.forEach(book => { %>
  <div class="book_card_area">

    <!-- Front of the card -->
    <div class="book_card_front">
      <img src="<%= book.coverImagePath %>" alt="<%= book.title %> cover">
      <h3 class="book_card_title"><%= book.title %></h3>
      <p class="book_card_author"><%= book.author %></p>
      <p class ="book_card_category"><%= book.category %></p>
    </div>

    <!-- Back of the card -->
    <div class="book_card_back">
      <p><%= book.description %></p>
      <p>Average Rating: <%= book.averageRating %> / 5</p>
      <button class="review_button"><a href="/reviews">Leave a review</a></button>
    </div>
  </div>
  <% }) %>
</section>