<div>
  <h2 class="view_book_title"><%= book.title %></h2>
  <p class="view_book_author"><%= book.author %></p>
  <p class ="view_book_category"><%= book.category %></p>
</div>

<div class="view_book_container">
  <div class="view_book_buttons">
    <% if (currentUser && currentUser.isAdmin) { %>
      <button class="view_book_edit"><a href="/books/<%= book.id %>/edit">Edit</a></button>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}`}) %>
    <% } %>
  </div>
  <img class="view_book_image" src="<%= book.coverImagePath %>" alt="<%= book.title %> cover">
  <p class="view_book_description"><%= book.description %></p>
  <!-- <p class="view_book_rating">Average Rating: <%# book.averageRating %> / 5</p> -->
</div>

<div class="view_book_review">
  <button class="review_button"><a href="/reviews/new?bookId=<%= book._id %>">Leave a review</a></button>
</div>

