<section class="cta">
    <div class="cta_div">
        <h2>Have your say!</h2>
    </div>
</section>

<section class="search_container">
  <div class="search_area">
    <h2 class="main_search_heading">Search for a book</h2>  
    <form  action="/" method="get"  class="search_form">
      <div class="input_button_wrapper">
        <input type="text" name="title" id="search" value="<%= searchOptions.title %>" placeholder="Search for a book by title" required>
        <button type="search" value="go" id="go">Search</button>
      </div>
      <div class="search_extras">
        <a href="/books/advancedSearch" class="advanced_options">Advanced Search Options</a>
      </div>
    </form>
  </div>
</section>  

<h1 class="main_heading">Book Reviews</h1>

  <section>
    <% books.forEach(book => { %>
    <div class="book_card">
      <h3 class="title"><%= book.title %></h3>
      <p class="author"><strong><%= book.author %></strong></p>
      <p class ="category"><strong>Category:</strong> <%= book.category %></p>
      <img height="100" width="150" src="<%= book.coverImagePath %>" alt="<%= book.title %>">
      <p class="description"><%= book.description %></p>
      
      <div class="rating_section">
        <p class="rating">Rate this book</p>
          <div class="rate">
            <input type="radio" id="star5" name="star">
            <label for="star5"></label>

            <input type="radio" id="star4" name="star">
            <label for="star4"></label>

            <input type="radio" id="star3" name="star">
            <label for="star3"></label>

            <input type="radio" id="star2" name="star">
            <label for="star2"></label>

            <input type="radio" id="star1" name="star">
            <label for="star1"></label>
          </div>
            <a href="/reviews"><button class="review_button">Leave a review</button></a>
      </div>
    </div>
    <% }) %>
</section>